<div class="header">
    <p class="title">Walmart Product Search</p>
    <p class="sub-title" *ngIf="!products.length">Click the 'Get Products' button to find the desired products</p>
    <p class="sub-title" *ngIf="!!products.length">Click the 'Add Products' button to add the desired products to your cart</p>
</div>

<div class="content">
    <button class="btn get-products-btn" (click)="getProducts()" *ngIf="!products.length">Get Products</button>

    <div *ngIf="!!products.length" class="items-container">
        <item *ngFor="let product of products" [details]="product"></item>
    </div>

    <button class="btn add-to-cart-btn" (click)="addToCart()" *ngIf="!!products.length">Add Products</button>
</div>